In [4]:
urdu = int(input("Enter Your Urdu Marks "))
english = int(input("Enter Your English Marks "))
economics = int(input("Enter Your Economics Marks "))
accounting = int(input("Enter Your Accounting Marks "))
math = int(input("Enter Your math Marks "))
total = (urdu + english + accounting + economics + math)
per = (total * 100 / 425)
print(per)
if per >= 80 and per <100:
    print("Your Grade is 'A+' ")
elif per >= 70 and per <80 :
    print("Your Grade is 'A' ")
elif per >= 60 and per <70:
    print("Your Grade is 'B' ")
elif per >= 50 and per <60:
    print("Your Grade is 'C' ")
elif per >= 40 and per <50:
    print("Your Grade is 'D' ")
elif per >= 0 and per <40:
    print("Sorry ! You Are Fail ")
else :
    print("You have Entered Incorrect Marks")

Enter Your Urdu Marks 87
Enter Your English Marks 59
Enter Your Economics Marks 65
Enter Your Accounting Marks 98
Enter Your math Marks 45
83.29411764705883
Your Grade is 'A+'

In [15]:
x = int(input("Enter a number :"))
if x%2==0:
  print(x,"is Even")
else:
    print(x,"is odd")

Enter a number :24
24 is Even

In [17]:
arr = [1,2,3,4,5,"ali","rizwan"]
len(arr)

7

In [18]:
mylist = [2,5,2,3,4,5]
total = sum(mylist)
print(total)

21

In [ ]:
a = []
n = int(input("Enter a number of elements : "))
for i in range(1,n+1):
    b = int(input("enter element : "))
    a.append(b)
a.sort()
print("Largest element is : ",a[n-1])

In [ ]:
arr = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
arr[:4]